
    <style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

    body, html {
      height: 100%;
      line-height: 1.8;
    }

    /* Full height image header */
    .bgimg-1 {
      background-position: center;
      background-size: cover;
      background-image: url("/w3images/mac.jpg");
      min-height: 100%;
      padding: 20px;
      border: 3px solid #f48d00;
      width: 100%;
    }

    .w3-bar .w3-button {
      padding: 16px;
      border: 3px solid #f48d00;
      width: 100%;
    }
    </style>

    .w3-card{
      background-color: white;
      margin: 15% auto; /* 15% from the top and centered */
      padding: 20px;
      border: 400px solid #0000;
      width: 100%;
    }
    /* Style the video: 100% width and height to cover the entire window */
    #myVideo {
      position: fixed;
      right: 0;
      bottom: 0;
      min-width: 100%; 
      min-height: 100%;
    }

   
